@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --blue:#00bbff;
  --grey:#656565;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
  transition: all .2s linear;
  text-decoration: none;
  outline: none;
  border: none;
}

html{
  overflow-x: hidden;
  font-size: 70%;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

header{
  position:fixed;
  top:0;left: 0;right:0;z-index:1000;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-between  ;
  padding: 1.5rem 6%;
}

header .logo span{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--blue);
  text-transform: uppercase;
}

*::selection{
  background-color: var(--blue);
  color: #fff;
}

header .navbar a{
  color: #fff;
  font-size: 1.7rem;
  margin: 0 .8rem;
}

header .navbar a:hover{
  color: var(--blue);
}

header .icons i,label{
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  margin-right: 1.7rem;
}

header .icons i:hover,label:hover{
  color: var(--blue);
}

/* Footer CSS */

footer{
  background-color: #333;
  height: 30vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.foot1{
  display: flex;
  justify-content: space-evenly;
}

.foot{
  display: flex;
  font-size: 1.4rem;
  justify-content: space-evenly;
}

.foot h4{
  color: white;
  font-weight: 500;
}
.foot a{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.about,.help,.consumer-policy,.mail-us,.offices{
  margin: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 100;
}

.foot a:hover{
  color: white;
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: 200;
}

.contact{
  display: flex;
  align-items: center;
}

.contact i{
  color: white;
}

.contact a{
  margin: 0px 15px;
  color: white;
  font-weight: 400;
}

.contact a:hover{
  margin: 0px 15px;
  color: white;
  font-weight: 400;
}

.foot2{
  display: flex;
  justify-content: center;
}

.foot2 span{
  font-size: medium;
  color: var(--blue);
}

/* hamburger menu  */
.icons label{
  display: none;
}

/* Hamburger menu media queries */
@media only screen and (max-width: 1080px){
  .icons{
    display: flex;
  }

  .icons label{
    display: block;
  }

  .navbar{
    display: none;
  }
}

@media only screen and (max-width: 730px) {
  footer{
    display: none;
  }
  header .icons i,label{
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    margin-right: 1.7rem;
  }

  header .logo span{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--blue);
    text-transform: uppercase;
  }


}