@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
  --blue:#00bbff;
  --grey:#656565;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition: all .2s linear;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  border: none;
}

html{
  overflow-x: hidden;
  font-size: 70%;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

header{
  position:fixed;
  top:0;left: 0;right:0;z-index:1000;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-between  ;
  padding: 1.5rem 6%;
}

header .logo span{
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--blue);
  text-transform: uppercase;
}

*::selection{
  background-color: var(--blue);
  color: #fff;
}

header .navbar a{
  color: #fff;
  font-size: 1.7rem;
  margin: 0 .8rem;
}

header .navbar a:hover{
  color: var(--blue);
}

header .icons i{
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  margin-right: 1.7rem;
}

header .icons i:hover{
  color: var(--blue);
}
